*{
   margin: 0;
   padding: 0;
   text-decoration: none;
}
header{
    height: 50px;
    box-shadow: 0px 2px 6px rgb(146, 241, 22);
    padding: 20px;  
    font-size: 2.5vh;  
    color: rgb(180, 40, 110);
    

}


.nav-item{
    display: flex;
    float: right;
    justify-content: space-between;
    gap: 50px;
    
    

    
    
}
.nav-item a{
    color: brown;
}
.nav-item a:hover{
    background-color: rgb(156, 204, 45);
    border-radius: 6px;
    
    
}
.nav-item i{
    display: none;
}


.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid rgb(34, 167, 16);
    box-shadow: 8px 7px 8px  ;
}
.card h1:hover{
    background-color: rgba(156, 204, 45);
    border-radius: 20px;
}

.main1{

    border: 2px solid rgb(165, 3, 3);
    box-shadow:  2px 2px 3px 3px black;
    background-color: rgb(48, 46, 46);
    color: rgb(145, 142, 137);
    flex-wrap: wrap;

    
}
.footer{
    display: flex;
    justify-content: center;
    font-size: 7vh;
    color: rgb(86, 94, 82);
    padding: 20px;
}

.main-box{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    padding: 30px;

    
}
.box{
    font-size: 3vh;
    
}
.box p{
    padding: 8px;
}

@media only screen and (max-width: 500px){
    .nav-item i{
        display: flex;
        font-size: 30px;
        width: 50px;

    }
    header{
        background-color: rgb(148, 228, 184);
    }

    .nav-item a{
        display: none;
    
   }
   .main-box{
    flex-direction: column;
    
    
   }
   .box{
    padding: 20px;
   }
   .footer{
    display: flex;
   }
   .main h1 {
    padding: 10px;
   }
   .main p{
    padding: 10px;
   }
}